<div>
  <div>
    <h1>VIDEO KYC</h1>
  </div>
  <div class="col-6">
    <video #video class="video" id="video" width="100%" height="350" autoplay></video>
    <!-- <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div> -->
    <div class="buttonCss">
      <button (click)="startCamera()">Start</button>
      <button (click)="stopCamera()">Stop</button>
      <button (click)="capture()">Capture</button>
    </div>
  </div>
  <div class="col-6">
    <div class="canvasDiv">
      <canvas #canvas id="canvas" style="overflow:auto"></canvas>
    </div>
  </div>
  <div>
    <div>
      <img [src]="imgURL" alt="">
    </div>
    <input type="file" id="uploadFle" name="resume" value="val" (change)="upload($event)">
  </div>
  <div>
    <button (click)="find()">
      find
    </button>
  </div>
</div>